@charset "utf-8";

body {
  background: #FBFBFD;
}

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
}

.logo img {
  width: 128px;
  padding: 30px 50px 30px;
}

.flower {
  width: 88px;
  position: absolute;
  top: 18px;
  left: 0;
}
.pc_nav ul {
  display: flex;
  gap: 46px;
}

.pc_nav li a img {
  width: 30px;
  height: 30px;
}

.sp_nav {
  display: none;
}

.mainvisual img {
  max-width: 100%;
}

.mainvisual {
  position: relative;
}

.mv_text {
  position: absolute;
  top: 42%;
  left: 7%;
  font-family: 'shippori Mincho',serif;
  font-size: 40px;
  line-height: 2;
}

.page_title {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.color_change {
  color: #9B7C8C;
}


@media screen and (max-width: 767px) {
  .mainvisual img {
    height: auto;
  }

  .logo img {
    width: 70%;
  }

  .mv_text {
    font-size: 32px;
    color: #FBFBFD;
  }
}